.contenedor {
    display: grid;   
    grid-gap: 20px;

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 100px 200px;
    
    /* Definir los elementos extras que se agregen */
    grid-auto-flow: column;
    grid-auto-flow: row;
    /* row | column | dense | row dense | column dense*/
    
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

.contenedor .span2{
    background-color: #ff8000;

    grid-column: span 2;
}

.contenedor .span3{
    background-color: #575757;

    grid-column: span 3;
}