.busqueda {
    background-color: #BFC8E8;
    color: #000;
    height: 40px;
    padding: 12px;

    display: grid;
    grid-gap: 24px;
    grid-template-areas: 
    "busqueda-titulo  busqueda-titulo  busqueda-ordenar  busqueda-filtrar  busqueda-buscar"
    ;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .busqueda {
        height: 104px;
        grid-template-areas: 
        "busqueda-titulo  busqueda-titulo  busqueda-titulo"
        "busqueda-ordenar  busqueda-filtrar  busqueda-buscar"
        ;
    }
    .busqueda-titulo{
        justify-content: center;
    }
    .busqueda-ordenar{
        grid-area: busqueda-ordenar;
    }
    .busqueda-filtrar{
        grid-area: busqueda-filtrar;
    }
    .busqueda-buscar{
        grid-area: busqueda-buscar;
    }
}

.busqueda-titulo{
    grid-area: busqueda-titulo;
}
.busqueda-ordenar{
    grid-area: busqueda-ordenar;
}
.busqueda-filtrar{
    grid-area: busqueda-filtrar;
}
.busqueda-buscar{
    grid-area: busqueda-buscar;
}


.busqueda-titulo{
    width: 150px;
    justify-self: center;
    font-size: 28px;
}
.busqueda-ordenar > select,
.busqueda-filtrar > select{
    min-width: 192px;
    height: 40px;
}

.busqueda-buscar > input{
    min-width: 256px;
    height: 36px;
}